/* font link   */
@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Baloo+Bhaijaan+2:wght@400;500;600&family=Montserrat:wght@200;300;400;500;600;700;800&family=Poppins:wght@500;700&family=Work+Sans:wght@500&display=swap');


* {
    font-family: 'Baloo Bhaijaan 2', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;



}

:root {
    --toptextColor: #2B2B2B;
    --contactTextSize: 14px;
    --contactIconsSize: 20px;
    --searchPartColor: #F4F4F4;
    --searchPadding: 26px;
    --lineColor: #D7D7D7;
    --color: #74B6C7;
    --colorWhite: #FFFFFF;
    --bold_text_color: #2B2B2B;
    --fontWeightSize: 500;
    --fontWeightSize2: 400;
    --fontWeightSize3: 600;
    --background_Color: #313A47;

}

/* top contact part  */
.gmail-text {
    color: var(--topTextColor);
    font-size: var(--contactTextSize);
    font-weight: var(--fontWeightSize);

}

.vertical-line {
    width: 21px;
    height: 0px;
    background-color: var(--lineColor);
    border: 1px solid var(--lineColor);
    transform: rotate(90deg);
}

.phone-text {
    margin-bottom: 0px;
    color: var(--topTextColor);
    font-size: var(--contactTextSize);
    font-weight: var(--fontWeightSize);
}

.contact-part {
    height: 44px;
}

.fa-envelope {
    font-size: var(--contactIconsSize);
}

.fa-phone {
    font-size: var(--contactIconsSize);
}

.fa-brands {
    font-size: var(--contactIconsSize);
    margin-right: 20px;
}

hr {
    margin: 20px;
}

/* logo and search part  */
.vap-logo {
    width: 90px;
    height: 61px;
}

.search-part {
    background: var(--searchPartColor);
    width: 674px;

    height: 50px;


}

.search-part input {
    background: var(--searchPartColor);
    border: none;
    outline: none;
    padding: 10px 0;
    padding-left: var(--searchPadding);
    font-weight: var(--fontWeightSize);

}

.category-text {
    background: var(--searchPartColor);
    padding-right: var(--searchPadding);
}

.category-text p {
    background: var(--searchPartColor);
    font-weight: var(--fontWeightSize2);

}

.category-text i {
    background: var(--searchPartColor);
}

.vertical-line-2 {
    width: 21px;
    height: 0px;
    margin-right: 19px;
    background-color: var(--lineColor);
    border: 1px solid var(--lineColor);
    transform: rotate(90deg);
}

.search-icon {
    width: 70px;
    height: 50px;
    display: inline;
    background-color: var(--color);

}

.search-icon .fa-magnifying-glass {
    font-size: var(--contactIconsSize);
    background-color: var(--color);
    color: var(--colorWhite);
}

.icons {
    font-size: var(--contactIconsSize);

}

/* navbar  */
.navbar-part {
    background-color: var(--color);
    padding: 20px;
    width: 254px;
    height: 60px;
}

.navbar-part p {
    font-size: 14px;
    font-weight: var(--fontWeightSize3);
    color: var(--colorWhite);
}

.fa-bars {
    font-size: var(--contactIconsSize);
    color: var(--colorWhite);
}

.navbar-part .fa-caret-down {
    font-size: 10px;
    color: var(--colorWhite);
}



.navbar-text-part>li>a {
    font-size: 14px;
    color: var(--colorWhite);
    font-weight: var(--fontWeightSize3);
}

/* top banner part  */
.top-banner-part {
    height: 555px;
    background-image: url(../images/banner-1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {

    margin-left: 138px;
    margin-right: 601px;
    padding: 100px 0;

}

.banner-text h6 {
    font-weight: 600;
    font-size: 14px;
    color: var(--colorWhite);

}

.banner-text h2 {
    font-weight: 400;
    font-size: 30px;
    color: var(--colorWhite);
    font-family: Audiowide;

}

.banner-text h1 {
    font-weight: 400;
    font-size: 96px;
    color: var(--colorWhite);
    font-family: Audiowide;

}

.banner-text p {
    font-weight: 500;
    font-size: 20px;
    color: var(--colorWhite);


}

.banner-text button {
    color: var(--colorWhite);
    font-weight: 700;
    padding: 9px 49px;
    font-size: 16px;
    background-color: #feffff00;
    border: 1.5px solid #FFFFFF;
}

/* shopping method  */
.shopping-method {

    height: 121px;
    background: #F5F5F5;
}

.shopping-method .fa-solid {
    font-size: 30px;


}


.shopping-method img {
    width: 30.94px;
    height: 34px;



}

.shopping-service-text {
    margin-left: 15px;
}

.shopping-method p {
    margin-bottom: 0px;
    font-weight: 500;
    font-size: 20px;
    color: #414141;
}

.shopping-method small {
    font-weight: 400;

    font-size: 14px;
    color: #474747;
}

/* from the best brands  */
.vape-brands-container {
    width: 1058px;
    height: 250px;
    border: 0.5px solid #999999;
}

.brand-header-text h2 {
    font-weight: 700;
    font-size: 36px;
    color: var(--bold_text_color);
    margin-top: 63px;
    margin-bottom: 35px;
}

.brand-1 {
    width: 350px;
    padding: 50px 0;
}

.brand-2 {
    width: 360px;
    padding: 36px 0;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;

}

.brand-3 {
    width: 348px;
    padding: 43px 0;
}

.brand-1 img {
    width: 261px;
    height: 149px;

    margin: 0 46px;

}

.brand-2 img {
    width: 311px;
    height: 179px;
    margin: 0 24px;

}

.brand-3 img {
    width: 284px;
    height: 164px;
    margin: 0 30px;

}

/* <!-- Deals of the day part --> */
.deals-part-container {
    height: 883px;
    background-color: var(--background_Color);
}

.deals-header-text {
    font-family: 'Work Sans';

    color: var(--colorWhite);
    font-weight: 500;
    font-size: 18px;
}


.fa-angle-left {

    background: #F1F1F1;
    color: #B0B0B0;

    padding: 10px 12px;
    margin-right: 5px;
}

.fa-angle-right {

    background: var(--color);
    color: var(--colorWhite);
    padding: 10px 12px;
    margin-right: 5px;
}

.deals-part-image img {
    width: 608px;
    height: 651px;
}

.deals-part-detales img {
    width: 492px;
    height: 650px;
    margin-top: 41px;
}

.dealts-text {
    position: absolute;

    left: 9px;
    top: 53px;

    padding: 41px;
}

.dealts-text h1 {
    font-weight: 700;
    font-size: 32px;
    color: #2B2B2B;
}

.fa-star {
    font-size: 11px;
    color: var(--color);
}


.deals-recent-price {
    font-weight: 600;
    font-size: 16px;
    color: var(--color);
}

.deals-previous-price {
    font-weight: 600;
    font-size: 12px;
    color: var(--lineColor);
}

.deals-blog-text {
    font-weight: 500;
    font-size: 16px;
    color: #2B2B2B;
}

.time {

    width: 90px;
    height: 90px;
    border: 2px solid #000000;
    border-radius: 50%;
}

.deals-btn {
    color: var(--colorWhite);
    font-weight: 700;
    padding: 9px 40px;
    font-size: 16px;
    background-color: #313A47;
    border: 1.5px solid #FFFFFF;
}